@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

h1 {font-size: 70px;text-align: center;font-family: 'Allura', cursive;
	color: rgba(250, 230, 210, 1);
	text-shadow:0 0 5px #fff;
	}

* {
	font-family: 'Comfortaa';
	color: rgba(255, 235, 215, 1);
}

.breadcrumb::after /* æŽˆæƒ*/ 
{
    content:'CSS by #3609';
    position:absolute;
    right:35px;
    font-weight: bold;
    color: rgba(105, 200, 235, 1);
}

body {
	background-image: url("https://s2.loli.net/2025/11/04/EfGa13ZtTrIObYw.jpg");
	 background-position: center;
    background-size:cover !important;
}


/* Home å·¦ä¾§ä¹¦ç­¾ç­‰é“¾æŽ¥é¢œè‰²*/ 
a {
	color: rgba(185, 160, 150, 1);
	font-weight: bold;
}

a:hover {
	color: rgba(255, 235, 215, 1);
	text-shadow:0 0 2px #fff;
	transition-duration: 0.5s;
	text-decoration: none !important;
}

/* å¯¼èˆªåº•è‰² DEN CROSSROAD */
#header .navbar-main, #footer {
	background-color: rgba(10, 20, 30, 1);
}

/* å¯¼èˆªé“¾æŽ¥é¢œè‰² DEN CROSSROAD */
#header .navbar-main .nav-link, #header .navbar-main .nav-link .fa {
	color: rgba(215, 255, 255, 1);
}

#header .navbar-main .nav-link:hover, #header .navbar-main .nav-link:hover .fa, #footer a:hover, #footer nav .nav-item .nav-link:hover {
	color: rgba(245, 255, 255, 1);
}


/* Welcome back */
.navbar-status 
{
    background-color: rgba(25, 35, 55, 0.7) !important;
    border-radius: 0px 0px 10px 10px;
    color: rgba(105, 200, 235, 1) !important;
} .navbar-status a {
    color: rgba(105, 200, 235, 1) !important;
} .btn-group-vertical>.btn, .btn-group>.btn /* Username in that bar */ {
    color: rgba(105, 200, 235, 1) !important;
}


/* home, username, pack */
#header .breadcrumb-nav {
	background-color: rgba(90, 30, 20, 0);
}

.breadcrumb-item.active {
	color: rgba(215, 255, 255, 1);
}


/* ä¸»æ¿ */
#main {
	background-color: rgba(10, 20, 30, 0.7);
	border: none;
	border-radius: 10px 10px 0px 0px;
	border-width: 8px;
	border-color: rgba(240, 100, 40, 0.5);
}


/* DEN/PROFILE æŒ‰é”® */
.nav-tabs /* Section containing the Den and Profile buttons */ {
    justify-content: center;
    border:none;
    margin-top: -5px;
    font-family: Comfortaa;
}
.nav-tabs .nav-link /* Individual Den and Profile buttons */ {
    background: rgba(10, 20, 30, 0.3);
    color: rgba(105, 200, 235, 1);
    border: none;
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
    font-family: Comfortaa;
}
.nav-tabs .nav-link:hover /* Hover of inactive button */ {
    background: rgba(10, 20, 30, 0.5);
    color: rgba(215, 255, 255, 1);
    transition:.5s ease;
    border: none;
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
    font-family: Comfortaa;
}
.nav-tabs .nav-link.active /* Link of the page being viewed */ {
    background-color: rgba(10, 20, 30, 0.8);
    color: rgba(105, 200, 235, 1);
    border: none;
    font-weight: bold;
    border-radius: 5px 5px 5px 5px;
    font-family: Comfortaa;
}

/* pack dynasty,feed all play all,Expand Territory */
#main .card {
	background: rgba(65, 90, 100, 0.8);
	border-radius: 10px;
}

.card-header {
	border: none;
}

/* å±•ç¤ºç‹¼å¤´åƒ */

.featured-wolf img 
{
    border-radius: 20px;
    border: none;
}

/* ä¸»ç‹¼å¤´åƒå›¾ç‰‡ */
.border-none .card-img-top, .table .form-row img 
{
    border-radius: 20px;
}

/* ä¸»ç‹¼å¤´åƒèƒŒæ™¯ */ 
.border-none .card 
{
    background-color:transparent !important;
}

/* ç¬¬äºŒå¤§ä¸»æ¿ */
.table {
	background-color: rgba(10, 30, 60, 0.6);
	box-shadow:2px 2px 3px 3px rgba(240 ,180 ,155 ,0.4);
	border: none;
	border-color: rgba(240, 100, 40, 1);
	border-radius: 10px;
}

/* Leader,Caveæ ‡é¢˜åº•è‰² */


.table th {
	background-color: rgba(25, 60, 90, 1);
	border-radius: 10px;
  color: rgba(255, 235, 215, 1);
  font-size: 20px !important;
}

/* Leader,Caveé“¾æŽ¥é¢œè‰² */
.table th a {
	color: rgba(185, 160, 150, 1);
}

.table th a:hover {
	color: rgba(255, 235, 215, 1);
}

/* æ¬¡çº§æ ‡é¢˜é¢œè‰²ï¼Œå¬å›žç‹¼ */
.table .subheader {
	background-color: rgba(45, 80, 115, 0.8);
}

/* ï¼Ÿ */
.table .left {
	background-color: rgba(150, 230, 255, 0.2)
}

/* Feed/Play æŒ‰é’® */ 
.btn-info 
{
    background: rgb(70, 90, 105, 0.8);
    color: rgb(255, 240, 215, 1) !important;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}.btn-info:hover {
    background: rgb(60, 80, 95, 0.8);
    color: rgb(220, 195, 165, 1) !important;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

/* åŒè‰²æ¡ */
.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(150, 230, 255, 0.2);
}

/* caveä¸‹æ–¹é€‰æ‹©åº•è‰²ç­‰ */
.table td.bottom {
	background-color: rgba(25, 60, 90, 0.8);
	border-radius: 0px 0px 10px 10px;
}

/* card veiwå°æ ‡é¢˜ç‹¼åå­—åº•è‰² */
.bg-dark {
background-color: rgba(150, 230, 255, 0.5)!important;
}

/* card veiwå¡ç‰‡åº•è‰² */
.bg-light {
	background-color: rgba(150, 230, 255, 0.2) !important;
  border: none;
}


/* è¾¹åŒºå¤§åº•è‰² */
#sidebar {
	background-color: rgba(10, 20, 30, 0.7);
	border: none;
	border-radius: 10px 10px 0px 0px;
	border-width: 8px;
	border-color: rgba(240, 100, 40, 0.5);
}

#sidebar .multi-column {
	padding-top: 15px;
}

/* è¾¹åŒºå¡ç‰‡åº•è‰² */
#sidebar .card {
	background-color: rgba(10, 30, 60, 0.6);
  box-shadow:2px 2px 3px 3px rgba(240 ,180 ,155 ,0.4);
	border: none;
	border-color: rgba(240, 100, 40, 1);
	border-radius: 10px 10px 10px 10px;
}

.card-body .w-50:first-child div /* Border featured wolf in Sidebar */ {
border: none !important;
}

.w-50 > a img /* Wolf Icon Sidebar */ {
    border-radius: 10px;
    border: none;
}
.w-50 div a img /* Featured Wolf Icon Sidebar */ {
    border-radius: 10px;
    border: none;
}


/* çŠ¶æ€åº•è‰² */
.progress {
	background: rgba(10,10,10,0.8) !important;
}

/* èƒ½é‡ */
.bg-warning, #main .bg-success  {
	background-color: rgba(100, 220, 235, 1) !important;
}


#sidebar .bg-danger, .bg-primary {
	background-color: rgba(75, 180, 215, 1) !important;
}


#sidebar .bg-info, #main .bg-danger {
	background-color: rgba(25, 140, 190, 1) !important;
}


#sidebar .bg-success, #main .bg-info {
	background-color: rgba(15, 70, 120, 1) !important;
}

#chatMessagePinned.s-chat-message__pinned {
	background-color: rgba(10, 70, 115, 0.8);
	color:rgba(95, 240, 250, 1);
	padding: 5px;
	border:none;
}

/* èŠå¤©æ */
.s-chat-sidebar #chatMessageList ,.s-chat-sidebar #chatMessageContainer{
	height: 370px;
	border:none;
	border-radius: 10px;
}

.s-chat-message:nth-child(odd) {
	background: rgba(150, 230, 255, 0.2);
}

.s-chat-message:nth-child(even) {
	background: rgba(110, 210, 215, 0.1);
}

.s-chat-sidebar #label_currentChannel {
  background: rgba(15, 20, 30, 0.8); 
  color:rgba(105, 200, 235, 1);
  border:none;
  border-radius: 10px;
}

#fra_chatContainer #txtChatInput {
  background: rgba(15, 20, 30, 0.8); 
  color:rgba(105, 200, 235, 1);
  border:none;
  border-radius: 10px;
}

 input#btnChatSend.btn.btn-primary.btn-sm:hover{border-color: black !important;}
/*0/150*/ 
#txtChatContainer #lblCharacterCounter { color: rgba(105, 200, 235, 1);
/* Code of Conduct*/
} #txtChatContainer a { color: rgba(105, 200, 235, 1)}


/* Update æŒ‰é’®*/
.btn-primary, .btn-success {
    background: rgba(70, 90, 105, 0.8)!important;
    color: rgba(255, 240, 215, 1) !important;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-success:hover, .btn-success:focus {
    background: rgba(60, 80, 95, 0.8) !important;
    color: rgba(220, 195, 165, 1) !important;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

/* ä¸æœ½æ§½æŒ‰é’®*/
.btn-warning {
    background: rgba(70, 90, 105, 0.8)!important;
    color: rgba(255, 240, 215, 1) !important;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

.btn-warning:hover, .btn-warning:focus {
    background: rgb(60, 80, 95, 0.8) !important;
    color: rgb(220, 195, 165, 1) !important;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

/* -cssæŒ‰é’®*/
.btn-danger {
    background: rgb(70, 90, 105, 0.8)!important;
    color: rgb(255, 240, 215, 1) !important;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

.btn-danger:hover {
    background: rgb(60, 80, 95, 0.8) !important;
    color: rgb(220, 195, 165, 1) !important;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}


/* userlogä¸‹æ‹‰å¤„*/
.dropdown-menu.show /* Dropdown menu for 'Profile, User Log, Log Out, etc.' */ {
    background-color: rgba(10, 20, 30, 0.6);
}.dropdown-item:hover {
    background-color: rgba(10, 20, 30, 0.8);
}
.dropdown-divider {
    border: none;
}

/* æç¤º */
.alert-info, .alert-success,.alert-danger {
	background-color: rgba(40, 130, 170, 0.8);
	color: rgba(235, 235, 255, 1);
	box-shadow:1px 1px 2px 2px rgba(200 ,255 ,255 ,0.4);
	border: none;
	border-radius: 10px;
}

/* åº•éƒ¨ä¿®æ”¹ */

.h2, h2 /* 'Text for Den Options' */ {
  font-family: Allura;
}
#summernote-form /* Background of Editor, NEEDS same color border */ {
    background-color: #0b2d36;
    border: 10px solid #0b2d36;
}

select.form-control /* Pack Leader + Wolf Title selectrion */ {
    background-color: rgba(10, 20, 30, 1) !important;
    border: none;
    color: rgba(255, 235, 215, 1);
}

/* Bold, Italics, etc. BUTTONS */ button.note-btn.btn.btn-light.btn-sm {
    background-color: rgba(10, 20, 30, 1) !important;
    color: rgba(255, 235, 215, 1) !important;
    border: none;
}a.dropdown-item {
    color: rgba(255, 235, 215, 1) !important;
}

/* Drag Bar below Text Field in Editor */ .note-editor.note-airframe .note-statusbar .note-resizebar, .note-editor.note-frame .note-statusbar .note-resizebar {
    background: rgba(10, 20, 30, 1) !important;
    border: none !Important;
}

/* æ·»åŠ cssæ¡ */ 
.form-control  {
    background: rgba(70, 90, 105, 0.8)!important;
    color: rgba(255, 240, 215, 1) !important;
    border:solid 1px rgba(255, 240, 215, 1);
    border-radius: 10px;
}
select.form-control:hover{
    border:solid 1px rgba(255, 240, 215, 1);
}

/* editoræŒ‰é’®é¢œè‰² */ 
.btn.btn-htmlinput {
  background: rgba(255, 255, 255, 0);
}

/* editoræŒ‰é’®èƒŒåŽæ•´ä¸ªæ¡é¢œè‰² */ 
.bg-bar-input {
  background: rgba(70, 90, 105, 0.8);
  border-radius:10px;
}

/* æ»šåŠ¨æ¡ */
::-webkit-scrollbar {
  background:rgba(0, 0, 0, 1);
	width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 230, 250, 1);
  border-radius: 8px;
}

/* Boxes */
.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	display: flex;
	justify-content: center
}

/*H Box1 Large*/
.Box1 {
	float: left;
  background-color: rgba(10, 30, 60, 0.6);
	box-shadow:2px 2px 3px 3px rgba(240 ,180 ,155 ,0.4);
  border-radius: 10px;
  color: rgba(255, 235, 215, 1);
	padding: 0px;
	border: none !important;
	margin: 5px;
	height: 55px;
	width: 92%;
	overflow: hidden;
	transition: height 1s;
	padding: 15px;
	text-align: center;
}
.Box1:hover {
	overflow-x: hidden;
	overflow-y: auto;
	height: 180px;
}

/*H Box2 Medium*/
.Box2 {
	float: left;
  background-color: rgba(10, 30, 60, 0.6);
	box-shadow:2px 2px 3px 3px rgba(240 ,180 ,155 ,0.4);
  border-radius: 10px;
  color: rgba(255, 235, 215, 1);
	padding: 0px;
	border: none !important;
	margin: 5px;
	height: 55px;
	width: 42%;
	overflow: hidden;
	transition: height 1s;
	padding: 15px;
	text-align: center;
}
.Box2:hover {
	overflow-x: hidden;
	overflow-y: auto;
	height: 180px;
}

/*H Box3 Small */
.Box3 {
	float: left;
  background-color: rgba(10, 30, 60, 0.6);
	box-shadow:2px 2px 3px 3px rgba(240 ,180 ,155 ,0.4);
  border-radius: 10px;
  color: rgba(255, 235, 215, 1);
	padding: 0px;
	border: none !important;
	margin: 5px;
	height: 55px;
	width: 24%;
	overflow: hidden;
	transition: height 1s;
	padding: 15px;
	text-align: center;
}
.Box3:hover {
	overflow-x: hidden;
	overflow-y: auto;
	height: 180px;
}

/*S Box4 Small */
.Box4 {
	float: left;
  background-color: rgba(10, 30, 60, 0.6);
	box-shadow:2px 2px 3px 3px rgba(240 ,180 ,155 ,0.4);
  border-radius: 10px;
  color: rgba(255, 235, 215, 1);
	padding: 0px;
	border: none !important;
	margin: 5px;
	height: 180px;
	width: 24%;
	overflow: auto;
	padding: 15px;
	text-align: center;
}

/*S Box5 Medium*/
.Box5 {
	float: left;
  background-color: rgba(10, 30, 60, 0.6);
	box-shadow:2px 2px 3px 3px rgba(240 ,180 ,155 ,0.4);
  border-radius: 10px;
  color: rgba(255, 235, 215, 1);
	padding: 0px;
	border: none !important;
	margin: 5px;
	height: 180px;
	width: 42%;
	overflow: auto;
	padding: 15px;
	text-align: center;
}

/*S Box6 Large*/
.Box6 {
	float: left;
  background-color: rgba(10, 30, 60, 0.6);
	box-shadow:2px 2px 3px 3px rgba(240 ,180 ,155 ,0.4);
  border-radius: 10px;
  color: rgba(255, 235, 215, 1);
	padding: 0px;
	border: none !important;
	margin: 5px;
	height: 180px;
	width: 92%;
	overflow: auto;
	padding: 15px;
	text-align: center;
}
