/* ## ------------------------------------------------------- GENERAL ------------------------------------------------------- ## */

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Quicksand&display=swap');

body, .table th {
    background:url(https://i.imgur.com/Sc3MGgg.jpeg)
    center fixed !important;
    background-size:cover !important;
    font-family: caveat;
    color: #e89ab0;
}


/* ## ------------------------------------------------------- BOXES ------------------------------------------------------- ## */

.box1 {
	background-color: rgb(10, 31, 46, .8);
    color: #f2b8c8;
	border: 2px solid #06131c;
    border-radius: 15px;
}

.box2 {
	background-color: rgba(244, 182, 199, .7);
    color: #0a1f2e;
	border: 2px solid #f4b6c7;
    border-radius: 15px;
}

.box3 {
	background-color: rgb(10, 31, 46, .8);
    color: #f2b8c8;
    border: 2px solid #06131c;
    border-radius: 15px;
}

.box4 {
	background-color: rgb(10, 31, 46, .8);
    color: #f2b8c8;
    border: 2px solid #06131c;
    border-radius: 15px;
}

.box5 {
	background-color: rgb(10, 31, 46, .8);
    color: #f2b8c8;
    border: 2px solid #06131c;
    border-radius: 15px;
}

.box6 {
	background-color: rgb(10, 31, 46, .8);
    color: #f2b8c8;
    border: 2px solid #06131c;
    border-radius: 15px;
}


/* ## ------------------------------------------------------- MAIN TEXT FONTS ------------------------------------------------------- ## */

h1 {
    color: #f7d3dc;
    font-family: quicksand;
}


/* ## ------------------------------------------------------- TABLE HEADERS ------------------------------------------------------- ## */

.table th {
    color: #f7d3dc;
    font-family: quicksand;
}
